:root {
  --background-color: #fff;
  --text-color: #222;
  --text-secondary-color: #5f5f5f;

  --mark-background-color: #fe0;
  --mark-text-color: #222;
  --blockquote-border-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --text-color: #efefef;
    --text-secondary-color: #cbcbcb;

    --blockquote-border-color: rgba(255, 255, 255, 0.9);
  }
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  font-size: 4rem;
}

small {
  font-size: 0.833rem;
}

p {
  margin: .4rem;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 1.5rem 1ch;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}


mark {
  color: var(--mark-text-color);
  font-weight: 500;
  padding: .1rem;
  border-radius: 4px;
  background-color: var(--mark-background-color);
}


blockquote {
  border: solid var(--blockquote-border-color);
  margin-right: 3ch;
  margin-left: 1.5ch;
  border-width: 0 0 0 0.5ch;
  padding: 0 0 0 1ch;
}


sup, sub {
  font-size: 0.75em;
  line-height: 1em;
}
