:root {
  --owncast-purple: #4589ee;
  --header-bg-color: rgb(28, 26, 59);
}

footer, .user-image, #logo-container, #tag-list {
  display: none !important;
}

#app-body {
  background: #222;
  color: #fff;
}

.follow-icon-list {
  background: #fff;
  padding: .2em;
  border-radius: .5em;
}

header {
  background: #1a202c;
}

.instance-title {
  font-weight: normal;
}

.streamer-name, .message-author {
  color: #fff !important;
}

#fediverse-follow-button-container .external-action-button {
  border: 2px solid rgb(28, 26, 59);
}

.tab-bar [role="tab"][aria-selected="true"] {
  color: white;
  background-color: var(--header-bg-color);
}

.tab-bar [role="tabpanel"] {
  border-top: 1px solid var(--header-bg-color);
}

.following-list-follower {
  border: none;
}

.following-list-follower p.text-gray-700 {
  color: #1c1a3b;
}

.following-list-follower p.text-gray-500 {
  color: #222;
}

.user-content {
 padding: 0;
}

#external-actions-container {
 width: auto;
 float: right;
}

.user-content {
 width: 100%;
 max-width: 700px;
}

.user-logo-icons {
 display: none;
}

#extra-user-content ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
